* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: black;
}

header {
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    text-align: center;
}

.immo {
    text-decoration: None ;
    color: inherit;
}

.container {
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container1 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.container2 {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.container3 {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-connexion{
    max-width: 600px ;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    all : unset;
}

input[type="email"],
input[type="password"] {
    max-width: 540px;
}

input[type="submit"]{
    text-align: center;
    max-width: 150px;
}

select {
    background-color: rebeccapurple;
    color: white;
}

.btn {
    display: inline-block;
    padding: 15px;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: mediumpurple;
}

.btn-admin {
    background-color: rebeccapurple;
}

.btn-admin:hover {
    background-color: mediumpurple;
}

.btn1 {
    display: inline-block;
    padding: 15px;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn1:hover {
    background-color: #ffbb3c;
}

.btn1-admin {
    background-color: #ffbb3c;
}

.btn1-admin:hover {
    background-color: #ffbb3c;
}

.btn2 {
    display: inline-block;
    padding: 15px;
    background-color: darkred;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn2:hover {
    background-color: #ff2b2b;
}

.btn2-admin {
    background-color: #ff2b2b;
}

.btn2-admin:hover {
    background-color: #ff2b2b;
}


input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    all : unset;
}

.btn3 {
    display: inline-block;
    padding: 15px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn3:hover {
    background-color: mediumseagreen;
}

.btn0 {
    display: inline-block;
    padding: 15px 8px;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.btn0:hover {
    background-color: mediumpurple;
}

.btn0-admin {
    background-color: rebeccapurple;
}

.btn0-admin:hover {
    background-color: mediumpurple;
}


.error {
    color: #e74c3c;
    margin: 10px 0;
}

.success {
    color: #27ae60;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
}
th, td {
    padding: 12px;
    text-align: center;
}