* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #332;
}

header {
    background-color: rebeccapurple;
    color: white;
    padding: 20px;
    text-align: center;
}

.immo {
    text-decoration: None ;
    color: inherit;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: rebeccapurple;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: rebeccapurple;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: mediumpurple;
}

.btn-admin {
    background-color: rebeccapurple;
}

.btn-admin:hover {
    background-color: mediumpurple;
}


input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 12px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: mediumseagreen;
}

.error {
    color: #e74c3c;
    margin: 10px 0;
}

.success {
    color: #27ae60;
    margin: 10px 0;
}